@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2.Common Styling
  3. Header / .header
    3.1 Logo  
    3.2 Navigation / .navbar
  4. Main
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   2.Common Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  max-width: 1500px;
  width: 79%;
  margin: 0 auto;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.inline-block { 
  display: inline-block;
  vertical-align: top;
}

.transition {
   -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a { 
  display: inline-block;
  text-decoration: none;
}

.banner a,
.menu a,
.subscribe-text a,
.footer-inside a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.7s ease-in-out;  
}

/* ==========================================================================
   3.Header
   ========================================================================== */
  header .wrapper { 
    width: 97%;
    padding: 20px 0; 
  }

  header { 
    width: 100%;
    max-width: 1500px;   
    position: absolute;
    top: 0;
  }
  
  header img {
    width: 142px;
    height: 95px;
  }

  header h1 { 
    width: 11%;
    margin-left: 2%;
    vertical-align: middle !important; 
  }
  
  .bars { display: none; }

  .navbar  { 
    width: 88%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }
  
  .menu { 
    width: 100%;
    display: inline-block; 
  }

  .menu li { 
    margin: 0 1.7%;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 16px; 
    font-weight: bold;
  }

  .menu li:last-child { margin: 0; }

  .menu li a { color: white; }

  .navbar .bars { 
    margin-right:10px;
    display: none;
    float:right;
    color:#fff;
    font-size:72px;
    font-weight:800;
  }

   /* ==========================================================================
   4.Main
   ========================================================================== */
  .banner { 
    padding: 115px 0;
    background: url(../images/banner.png);
    text-align: center;
  }

  .banner .wrapper { width: 70%; }

  .banner h2 { 
    font-size: 60px;
    line-height: 60px;
  }

  .banner a { 
    padding: 15px 3%;
    margin-top: 3%;
    background: #ca2335;
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .banner a:hover {
    background-color: #fffefa;
    color: #251d1a;
    outline: 1px solid #251d1a;
  }

  /*=============================== images section =============================== */
  .images-section {
   padding-top: 90px;
   text-align: center;
  }

  .images-section .wrapper {
    padding-bottom: 70px;
    border-bottom: 1px solid #e9e7ea;
  /*================================ ask about border==========================================================================================================================  */
  }
  .images-section div span {
    padding-bottom: 35px;
    margin-right: 20px;
    float: right;
    color: #737778;
    font-size: 13px;
  }

  .images-section div span:first-letter { text-transform: capitalize; } 

  .images-section div a {
    color: #c92434;
    font-weight: 700;
  }

  .images-section div:after {
    display: block;
    clear: both;
    content: "";
  }

  .image-cell {
    display: inline-block;
    width: 23%;
    padding-right: 0.3%;
    padding-bottom: 10px;
  }
  .image-cell img { height: 233px; }

  .follow { 
    display: block;
    margin-bottom: 4%; 
  }

  /*=========================== mission css============   */
  .mission {
    padding-top: 70px;
    padding-bottom: 80px;
    text-align: center;
  }

  .mission .wrapper {
    padding-bottom: 70px;
    border-bottom: 1px solid #e9e7ea;
  }

  .mission-text h3 {
    padding-bottom: 18px;
    color: #293040;
    font-family: Playfair Display;
    font-size: 35px;
    text-transform: capitalize;
  } 
  .mission-text p {
    color: #8d8988;
    font-size: 15px;
    line-height: 1.8;
    word-spacing: 5px;
  }

  /*============================ national css=================================== */
  
  .national {
    padding-bottom: 100px;
    text-align: center;
  }

  .national-text p,
  .national-text span {
    font-family: "Playfair Display", sans-serif;
    font-size: 24.5px;
  }

  .national-text p {
    padding: 10px 35px;
    padding-bottom: 30px;
    color: #45453d;
    line-height: 33px;
  }

  .national-text span {
    color:#ca2432;
  }

  .national-text span:after { content: " "; }

  .national-image {
    width: 30.5%;
    margin-right: 2.5%;
    display: inline-block;
    position: relative;
    background-color: #202020;
  }

  .national-image img { 
    height: 180px; 
    opacity: 0.5;
  }

  .national-span { 
    position: absolute;
    top: 50%;
    left: 50%;
    color:#fff;
    font-size:18px;
    font-weight: 100;
    line-height:1.5;  
    text-transform: uppercase;
    transform: translate(-50%,-50%);
   }

  /*========================= subscribe starts here===================== */

  .subscribe { 
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #ca2334;
  }
  
  .subscribe .wrapper { width: 78%; }

  .subscribe-text {
    width: 95%;  
    margin: 0 auto;
    text-align: center;
  }

  .subscribe-text p {
   display: inline-block;
   float: left;
   color: #fff;
   font-family: "Playfair Display";
   font-size: 35px;
  }

  .subscribe-text a {
    padding: 12px 27px;
    float: right;
    background-color: #251d1a;
    color: #fffefa;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .subscribe-text a:hover {
    background-color: #fffefa;
    color: #251d1a;
    outline: 1px solid #251d1a;
  }

  .subscribe-text a span{
    vertical-align: top;
    font-size: 14px;
  }

   /* ==========================================================================
   5.Footer
   ========================================================================== */

  footer { 
    background-color: #6c000f;
    text-align: center; 
  }

  footer .wrapper { padding: 70px 0px 60px 0px; }

  .footer-inside span {
    color: #ffcdde;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .footer-inside ul { padding: 50px 0px; }
  .footer-inside ul li { 
    margin: 0 0.3%;
    display: inline-block; 
  }

  .footer-inside a {
    padding-right: 5px;
    color: #fff;
    font-size: 20px;
  }

  .footer-inside a:hover { color: #ffcdde; }

  .footer-inside span:last-child {
    color:#b84b5e;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: capitalize;
  }   


/* ========================================= media queries =================================== */
@media screen and (max-width: 1265px) { 
  .navbar { width: 86%; }
}

@media screen and (max-width:1155px) {
  .subscribe-text {
    text-align: center;
  }
  .subscribe p{
  padding-right:25px;
  font-size:28px;
  }

  .national-image { width:30%; }
}

@media screen and (max-width:1032px) {
  .national-image { width:30%; }
}
/**/
@media screen and (max-width:952px) {
   nav a { font-size:13px; }
  .images-section .image-cell { width:47%; }
  .images-section img { height:200px; }

  .banner h2 {
    padding-top:140px;
    font-size:44px;
  }

  .banner a {
    width: 40%;
    padding:10px;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 15px;
  }

  .subscribe-text { margin:0 auto; }
  .subscribe p { 
    width: 100%;
    display: block;
    padding-right: 0;
    padding-bottom: 30px;
    float: none; 
  }

  .subscribe-text a {
    width: 35% !important;
    margin: 0 auto;
    display: block;
    text-align: center;
    float: none;
  }
} 
/*============================ media query for 768px ====================  */

@media screen and (max-width:768px) {
  .menu li{
    margin: 0;
  }

  .navbar .bars { 
    margin-top:35px;
    display: block;
  }

  h1 img {
    height:70px;
    margin-top:10px;
  }

  .menu {
    width:100%;
    display: none;  
    position: absolute;
    top:60px;
    left: 0;
    background-color:#fff;
    opacity: 0.9;
  }

  .navbar:hover .menu { display:block; }

  .menu li {
    width:100%;
    padding: 10px 0;
    border-bottom:1px solid red;
  }

  .menu a {
    display: block;
    color: #121e2a !important;
    font-size:14px;
    text-align: center;
    text-decoration: none;
  }

  .banner a {
    width:50%;
    font-size:14px;
  }

  .banner h2 { font-size:25px; }

  .banner a:hover {
    background-color: #ca2334;
    color:#ffd7dd;
    outline:0px;
    text-transform: uppercase;
  }

  .images-section .wrapper { margin:0 auto; }
  .subscribe-text { width:100%; }
  .subscribe-text a { width: 40% !important; }

  .subscribe-text a:hover {
    background-color: #251d1a;
    color:#fffefa;
    outline:0px;
  }
}
/*media query for 582px */

@media screen and (max-width:582px) {
  h1 {
    width:30%;
    margin-top:12px;
    margin-left:5px;
  }

  .banner h2 {
    padding-top:120px;
    padding-right:40px;
    padding-left:40px; 
    font-size:20px;
    line-height:1.5;
  }

  .banner a {
    padding:10px 0px;
    width:60%;
    font-size:14px;
  }

  .images-section .wrapper {
    text-align: center;
    margin-left:40px;
  }

  .images-section .image-cell {
    display: block;
    width:100%;
  }

  .mission {
    padding-top:10px;
    padding-bottom:10px;
  }

  .mission h3 { font-size:18px; }

  .mission p {
    font-size:15px;
    line-height:1.5;
  }

  .national {
    padding-top:0px;
    text-align: center; 
    margin:0 auto;
  }

  .national-text p,
  .national-text span { font-size:14px;  }

  .national-image {
    display: block;
    width:90%;
    margin:0 auto;
    margin-top:10px;
  }

  .subscribe { padding-bottom:30px; }

  .subscribe-text p {
    padding-right:0px;
    padding-bottom:10px;
    font-size:16px;
  }
  
  .subscribe-text a {
    width:53%;
    padding: 10px 18px;
  }
}